* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(101, 60, 39);
}
.head {
    width: 90%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.head p {
    font-size: 20px;
}
.inputs {
    padding: 5px;
}
input {
    background-color: rgb(201, 147, 107);
    outline: none;
    border: none;
    color: white;
    height: 30px;
    margin: 2px;
    padding: 2px;
    border-radius: 4px;
}
input:focus {
    background-color: rgb(172, 131, 102);
    transform: scale(1.05);
    letter-spacing: 1px;
}
#title, #count, #category, #search {
    width: 95%;
}
#price, #taxes, #ads, #discount {
    width: 20%;
}
#total {
    display: inline-block;
    background-color: rgb(134, 63, 63);
    border-radius: 4px;
    text-align: center;
    font-size: 15px;
}
#total::before {
    content: "Total: ";
}
.Btn {
    width: 96%;
    border-radius: 6px;
    height: 30px;
    background-color: rgb(159, 64, 64);
    margin: 3px;
    transition: 0.5s;
    border: none;
    outline: none;
}
.Btn:hover, #deleteAll button:hover {
    letter-spacing: 0.6px;
    background-color: rgb(131, 29, 29);
}
.outputs {
    display: flex;
    width: 94%;
    padding: 0 0 0 10px;
}
.outputs input {
    margin: auto;
    width: 90%;
}
.outputs button {
    width: 50%;
}
#table {
    width: 95%;
}
thead {
    background-color: rgb(136, 50, 50);
}
tbody {
    color: aliceblue;
    text-align: center;
}
th, td {
    border-radius: 4px;
    margin: 2px;
}
#deleteAll
{
    width: 95%;
    text-align: center;
    
}
#deleteAll button{
    width: 100%;
    border-radius: 6px;
    height: 30px;
    background-color: rgb(159, 64, 64);
    margin: 3px;
    transition: 0.5s;
    border: none;
    outline: none;
}
